extends ../public

//- block title
//- 	title Article Title

block content

	form#joinForm
		h3 Join Our Site
		input.username(type='text' placeholder='name' name='username')
		input.password(type='password' placeholder='Enter password...' name='password')
		input.passwordConfirm(type='password' placeholder='Confirm password...' name='passwordConfirm')
		input.email(type='text' placeholder='Enter email...' name='email')
		input.submit(type='submit' value='Sign Up')
	form#signinForm
		h3 Sign In
		input.username(type='text' placeholder='Enter username...' name='username')
		input.password(type='password' placeholder='Enter password...' name='password')
		input.submit(type='submit' value='Sign In')
	br
	br
	br
	button#signout Sign Out

block js
	script(src='/js/public/auth.js')
