extends ../public

//- block title
//- 	title Article Title

block content

	form#joinForm
		h3 Sign Up
		input.username(type='text' placeholder='name' name='username' value='arxpoetica')
		input.password(type='password' placeholder='Enter password...' name='password' value='qewretry')
		input.passwordConfirm(type='password' placeholder='Confirm password...' name='passwordConfirm' value='qewretry')
		input.email(type='text' placeholder='Enter email...' name='email' value='thebookofrobert@gmail.com')
		input.submit(type='submit' value='Sign Up')
	form#signinForm
		h3 Log In
		input.username(type='text' placeholder='Enter username...' name='username')
		input.password(type='password' placeholder='Enter password...' name='password')
		input.submit(type='submit' value='Log In')
	#signout Log Out

block js
	script(src='/js/public/auth.js')
