doctype html
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
html.no-js(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    title
      block title
    block head
  body
    main
      block main
    != SocketStream
    block body-tail
