body
    //background-image: url("/adom.jpg")
    //background-repeat: repeat-x
    
.structured_console
    color white
    position absolute
    width 40%
    height 40%
    //top 10%
    //left 10%
    background #C559FF
    overflow auto
    border-radius 3%
    font-size 9px
    
    
    
.colorado
    //cursor pointer
    position absolute
    z-index 9999
    width 300px
    height 200px
    border 1px solid black
    background-color rgba(255,255,255,0.5)
    border-radius 5px
    //opacity
    
    input
        margin 10%
    
